<div class="post-container">
    <article class="post">
        <div class="post-header">
            <h4 class="post-title">{{post.title}}</h4>
            <p class="post-meta">
                Posted by <span class="post-username">{{post.user.username}}</span> on {{format_date post.createdAt}}
            </p>
        </div>
        <div class="post-content">
            <p>{{post.content}}</p>
        </div>
    </article>
</div>

<div class="comment-container">
    <form class="comment-form" id="comment-form">
        <div class="form-group">
            <label for="comment" class="form-label">Comment</label>
            <input id="comment" name="comment-body" class="form-input" />
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

<div class="comments-container">
    <div class="comments-header">
        <h4 class="comments-title">Comments</h4>
    </div>
    <div class="comments-list">
        {{#each post.comments}}
            <div class="comment">
                <p class="comment-content">{{comment_content}}</p>
                <p class="comment-meta">
                    -{{user.username}}, {{format_date createdAt}}
                </p>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/comment.js"></script>
